<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">VIVA NOTES</span></div>

# Markdown syntax

**Bold**	** ** or __ __ \
**Italic**	* * or _ _ \
**All bold and italic**	*** *** \
**Subscript**	<sub> </sub> \
**Superscript**	<sup> </sup> \
\
[display text](link address)
\
\
![](image link address)
\
\
tables [https://www.tablesgenerator.com/markdown_tables#google_vignette](https://www.tablesgenerator.com/markdown_tables#google_vignette) 
1. list
1. list
1. list



**Inline math**  $\sqrt{b^2-4ac}$

**Math block**
$$
x = \dfrac{-b \pm \sqrt{b^2-4ac}}{2a}
$$

## Types of cats

### Cute cats

hello **kitty** *meow* <sub>cute</sub>

# GitHub info
**What is a Git repository?** 
It is the cloud-based GitHub page used to store and share code, allowing collaboration. 

**Git keeps track of ____BLANK____ in the files in our repository.**
"Changes"

**What is a commit?**
It is like saving a changes to the file after editing its code. 

**What is a push?**
To upload and sync new changes to the Github cloud.

**What is a pull?**
To sync new changes from the cloud onto the local device. 

**What is the difference between GitHub and GitHub Desktop?**
GitHub: main location for files, stored in the cloud (Github servers). GitHub Desktop: GUI to access and change the Learning Portfolio files on the online GitHub by syncing it with the changes made on the local machine.

In [5]:
%%timeit
#code here

In [ ]:
#print cwd
!cd

#list all files in folder
!dir

# Fundamentals

In [26]:
print ("hewwo woo "*3)
print("cat goes"+"meow"*3)
print("break line\n"*3)
print("comma","syntax", "hmm",end="\n")

hewwo woo hewwo woo hewwo woo
cat goesmeowmeowmeow
break line
break line
break line

comma syntax hmm

In [30]:
a="I am Batman".split()

b='meow meow cat'.upper() #.lower()
c='hehe'.replace('e','a')
d='moomoo cow'.title()

print(a,b,c,d, sep='\n')

['I', 'am', 'Batman']
MEOW MEOW CAT
haha
Moomoo Cow

In [31]:
a=type('meow')
b=type(1)
c=type(1.5)
print(a,b,c)

<class 'str'> <class 'int'> <class 'float'>

In [ ]:
import math
import numpy

math.sqrt(4)
np.sqrt(4)

In [57]:
x = [1, 2]
y = x #y will be bound to the SAME list object with a value [1 ,2]
y = x.copy() 
y.append(3)

In [25]:
#asking for help
?print
help(print)

In [58]:
5/2           # division to obtain floating point value
5//2          # division to obtain quotient
5%2           # division to obtain the remainder

1

## IF

In [ ]:
if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

In [36]:
x=0
(x<5) or (x>8)
(x<5) and (x>8)

False

In [47]:
a="a" in ['apple','dog','cat']
b="apple" in ['apple','dog','cat']
c='app' in 'apple'
print(a, b, c)

False True True

In [45]:
x = float(x) #converting to float, int, str
np.isclose(a3,3*a) #numpy comparison for floats

In [53]:
name = 'Batman'

match name:
    case 'Batman':
        print('Hello Batman!')
    case 'Robin':
        print('Hello Robin!')
    case _:
        print('Hello World!')

Hello Batman!

In [56]:
nationality='French'
greeting = "Bonjour!" if nationality == 'French' else "Hello!"
("Hello!", "Bonjour!")[nationality == 'French']
{False: "Hello!", True: "Bonjour!"}[nationality == 'French']

'Bonjour!'

## F strings
[link to syntax](https://sps.nus.edu.sg/sp2273/docs/python_basics/02_basics/2_basics_good.html)

In [49]:
#syntax {X:>0Y.ZW}
x, y= 42, 24
print(f'{x=} and {y=}')

x=42 and y=24

In [73]:
pi = 3.141592
for x in range(1,4):
    print(f'The value of pi to {x} decimal places is: {pi:.{x}f}')

print(f'{'Apple ':<10}{'$0.99':>5}{'\n'}{'Banana ':<10}{'$0.59':>5}{'\n'}{'Orange ':<10}{'$1.29':>5}{'\n'}')

The value of pi to 1 decimal places is: 3.1
The value of pi to 2 decimal places is: 3.14
The value of pi to 3 decimal places is: 3.142
Apple     $0.99
Banana    $0.59
Orange    $1.29

# Lists

In [ ]:
py_list=[1,2,3,4,5] #For growing numbers, adding to list
np_array=np.array([1,2,3,4,5]) #or
np_array=np.array(py_list) #For math calculations

#list works as a whole
#arrays works with individual elements within

np_array +1 #add 1 to each element
py_list +[1] #add [1] to the list

py_list*2 #make the list twice
np_array*2 #multiply each element by 2

len(py_list) #length of list
len(np_array) 

np_array.size #length
np_array.shape

#asking question
'a' in ['a','b','c']

#numpy arrays do not tolerate different types, converts lists all into the same type
#lists allows different types eg. str, int, float...

In [90]:
list(range(6)) #making a list

[0, 1, 2, 3, 4, 5]

In [ ]:
#concatenate lists
py_list_again=[1,2]+[8,9,0]+['A','B']

#addition of each element
np.array([1,2,3])+np.array([8,9,0]) 

x=[1,2,3]
x[0]=1000 #1 changed to 1000

y=(1,2,3) #TUPLES have list attributes but cannot be changed eg. for experiment constants.

In [9]:
py_list = [1, 2, 3, 4, 5]   # A 1D list

py_list_2 = [               # A 2D list
                [1, "A"],      
                [2, "B"],
                [3, "C"],
                [4, "D"],
                [5, "E"]
            ]
#indexing
py_list_2d[0][1] #returns 'A'
py_list_2d[1:4] #returns 3 lists
np_array_2d[0,1] #returns 'A
np_array_2d[:,0] #returns 1,2,3,4,5 -- syntax np_array_2d[start:end,value]

In [ ]:
#convert to int to do math
np_array_2d[1:4,0].astype(int)*2 #positions 2 to 4, first value, *2

sum(py_list)     # sum() is a base Python function
max(py_list)     # max() is a base Python function
min(py_list)     # min() is a base Python function
np_array.sum()
np_array.max()
np_array.min()
np_array.mean()
np_array.std()

In [ ]:
sum(happy_array==1) #how many '1' in array

odd = numbers%2 
odd = odd != 0 #'odd' is an array of TRUE for odd, FALSE for even
np_array_2d[odd,1]) #printing the mask, only values

## Masking

In [ ]:
#subsetting 
my_rand_numbers[-1] #[] subsetting an array.
    #start counting from 0, -1 to count from the back

py_list[3:6] #SLICING = subset a range, returns 3,4,5
py_list[3:] #4 onwards
py_list[:-2] #until 3rd last
py_list[-1::-1] #REVERSE list from end to start, going backwards
py_list[::2] #SKIPPING

my_rand_numbers=np.random.randint(0,100,10) #start, stop, number of outputs
my_rand_numbers<50 #true false array

mask=my_rand_numbers<50 
mask=(my_rand_numbers<50)&(my_rand_numbers%2==0)
my_rand_numbers[mask]

mask=funny_array<69
funny_array[mask] = 1 #all elements below '69' are changed to '1'

# Dictionary

In [11]:
personal_info = {
    'Names': 'Batman',  #dictionary can contain lists, arrays, dictionaries
    'Real Name': 'Bruce Wayne', #case-sensitive
    'Age': 55,
    'Affiliation': 'Justice League',
    'Universe': 'DC'
}
#indexing -- print(dictionary[key]) > value
print(personal_info['Real Name'])

dictionary_name['key_value'][1] #indexing a list within a dictionary

Bruce Wayne

In [ ]:
superhero_info.keys() #return all keys
superhero_info.values() #return all values

# Loops

In [ ]:
for x in funny_list:
    print(f'hi{x}')

for count, name in enumerate(funny_list):
    print(f'{count}: {name}') #0, 1, 2, 

for index, name in enumerate(real_names,100): #start count from 100
    superhero_name = super_names[index] #returns [x] value in super_name list
    print(f'{name} is {superhero_name}!') 

for i in range(1, 10, 3): #range(start, stop, skip)
    print(i)
    
for i in range(len(real_names)):
    real_name = real_names[i]
    super_name = super_names[i]        
    print(f"{real_name} is Marvel's {super_name}!")

number = 0
while number < 5:
    print(number)
    number += 1

In [ ]:
for power in range(5):
    number = 10**power
    if number > 5000:
        break #terminate loop
    print(power, number)

for power in range(5):
    if power == 3:
        continue        # Don't proceed further, IN THE CURRENT LOOP
    number = 10**power
    print(power, number)

In [ ]:
[number for number in range(10) if number % 2 ==0]
#[x for x in range(n) if x condition]

for element_1, element_2 in 2d_list:
    print(f"{element_1}, {element_2}")

for element_1, element_2 in zip(1d_list_a,1d_list_b):
    print(f"{element_1}, {element_2}")

In [85]:
#Flatten 2d list

nested_list=[[1, 2, 3], [4, 5, 6, 7]]
[y for x in nested_list for y in x]

output =[] #longer method
for x in nested_list:
    for y in x:
        output.append(y)

output

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#DICTIONARY
for key, value in superhero_info.items():
    print(f"{key}, {value}")

for key in superhero_info.keys():
    value=superhero_info[key]
    print(f"{key},{value}")

In [ ]:
#combine two lists into a dictionary
dict(zip(list1, list2))

In [86]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [92]:
#sum(heads) works as the output of print(heads) is True/False: True = 1 and False = 0

# Functions

In [74]:
score_input = int(input("Enter the student's score: "))

def grade(score_input):
    if score_input >= 70:
        x='A'
    elif score_input >= 50:
        x='B'
    elif score_input >= 35:
        x='C'
    elif score_input >= 0:
        x='Fail'  #do not print within the function. assign outputs as 'x'
    return x #return 'x'

print(f"The student's letter grade is: {grade(score_input)}")

Enter the student's score:  99

The student's letter grade is: A

In [79]:
def factorial(n):
    if n < 0:
        return "Invalid input"
    elif n == 0:
        return 1
    else:
        result = 1
        for number in range(1, n+1):
            result *= number
    return result